@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

.VPContent .main{
  direction: rtl;
  font-family: "Vazirmatn", sans-serif;
}
.aside .content {
  direction: rtl;
  font-family: "Vazirmatn", sans-serif;
}